@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

/* https://coolors.co/0a0908-006989-f2f4f3-a9927d-007090 */
:root {
    --black: #000000;
    --cerulean: #006989ff;
    --white: #ffffff;
    --sandpiper: #a9927dff;
    --cerulean-2: #007090ff;
}

body {
    font-family: 'Baloo 2', cursive;
    background-color: var(--black);
    color: var(--white);
}

.header {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--sandpiper);
}

a {
    color: var(--cerulean);
}

#logo {
    margin: auto;
    width: 300px;
}

#content {
    margin: auto;
    max-width: 600px;
}

.link_logo {
    width: 32px;
}

#logo_list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo_list a {
    text-decoration: none;
    color: #ffffff;
}

#header {
    max-width: 300px;
    margin: auto;
}

#jobs {
    margin-top: 50px;
    margin: auto;
    text-align: left;
}

.mc-embedded-subscribe-form div {
    margin-bottom: 10px;
}

.mc-field-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border: 0;
    background-color: var(--cerulean);
    height: 1px;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#footer li {
    list-style-type: none;
    display: inline;
    margin: 0 10px;
}

#tt_form {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mc-field-group input[type="submit"] {
    margin-left: 10px;
}