/* Hero */

.custom-shape-divider-bottom-hero {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-hero svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}
.hero-title-gradient {
  background: -webkit-linear-gradient(white, #b4add1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Code Push Bottom */

.custom-shape-divider-bottom-code-push {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-code-push svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

/* Code Push Top */

.custom-shape-divider-top-code-push {
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-code-push svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}
