@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

.shorebird-block-big-title {
  @apply text-5xl font-bold tracking-normal text-white xl:text-6xl;
}
.shorebird-block-big-title-primary {
  @apply text-5xl font-bold tracking-normal text-shorebirdPrimary xl:text-6xl;
}
.shorebird-block-subtitle {
  @apply text-xs font-bold uppercase tracking-wider text-shorebirdSecondary;
}
.shorebird-content-title {
  @apply text-lg font-bold tracking-normal text-white;
}

/* Backgrounds */

.shorebird-bg1 {
  @apply bg-shorebirdBg1 fill-shorebirdBg1;
}
.shorebird-bg2 {
  @apply bg-shorebirdBg2 fill-shorebirdBg2;
}
.shorebird-bg3 {
  @apply bg-shorebirdBg3 fill-shorebirdBg3;
}
body,
html {
  @apply bg-shorebirdBg2;
}

/* Borders */

.shorebird-border-gray {
  @apply border border-solid border-[rgb(255,255,255,0.15)];
}
.shorebird-border-gray-darker {
  @apply border border-solid border-[rgb(255,255,255,0.07)];
}

/* Buttons */

.shorebird-button-primary {
  @apply flex cursor-pointer items-center justify-center rounded-lg bg-shorebirdPrimary font-bold text-white transition hover:bg-[#0196C0];
}

.shorebird-button-secondary {
  @apply flex cursor-pointer items-center justify-center rounded-lg border border-shorebirdPrimary font-bold text-white transition hover:border-[#0196C0];
}

/* Navbar */

.navbar-link {
  @apply ml-4 mr-4 h-full cursor-pointer pt-2 text-2xl font-normal leading-6 text-white transition duration-300 hover:scale-110 lg:text-base lg:font-medium 2xl:ml-6 2xl:mr-6;
}

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}

/* Tooltip */
.tooltip {
  @apply invisible absolute -ml-14 -mt-28 rounded bg-shorebirdBg1 p-2 text-sm shadow-lg md:-mt-20 md:ml-4 md:p-4;
}

.tooltip-container:hover .tooltip {
  @apply visible z-50;
}

@layer components {
  input[type='range'] {
    @apply cursor-pointer appearance-none bg-transparent;
  }

  input[type='range']::-webkit-slider-runnable-track {
    @apply rounded-full bg-black/25;
  }

  input[type='range']::-moz-range-track {
    @apply rounded-full bg-black/25;
  }

  input[type='range']::-ms-track {
    @apply rounded-full bg-black/25;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply h-4 w-4 animate-gradient-xy appearance-none rounded-full bg-gradient-to-r from-teal-400 to-purple-400 shadow-lg;
  }

  input[type='range']::-moz-range-thumb {
    @apply h-4 w-4 animate-gradient-xy appearance-none rounded-full bg-gradient-to-r from-teal-400 to-purple-400 shadow-lg;
  }
}
