---
import config from '@/config';
import { GradientOutlineButton } from '@/components/ui/button';
import { PricingCalculator } from '@/components/pricing/pricing-calculator';
import { PricingPlans } from '@/components/pricing/pricing-plans';
import { PricingFaq } from '@/components/pricing/pricing-faq';
import { Spacer } from '@/components/ui/spacer';
import { ArrowRightIcon } from '@phosphor-icons/react';
---

<section
  class="mx-auto flex w-10/12 flex-col py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
>
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-text-1 text-center text-5xl font-semibold">
      Pay as you <span class="gradient-text">grow</span>
    </h1>
    <Spacer />
    <h3 class="text-text-2 text-center text-lg">
      Deliver instant updates with pricing that scales as you grow.
    </h3>
    <Spacer className="h-10" />
    <PricingPlans includeTable={true} client:load />
    <Spacer className="h-10" />
    <PricingCalculator hideCTA={true} client:load />
    <div class="w-full pt-18">
      <div class="grid grid-cols-1 gap-2 lg:grid-cols-3 lg:gap-16">
        <div class="flex flex-col items-start gap-6">
          <h2 class="text-4xl font-medium">FAQ</h2>
          <span class="text-text-2">
            Check out the top frequently asked questions regarding pricing. If
            you still have questions, please contact us.
          </span>
          <a href={config.contactSales} class="w-full md:w-auto">
            <GradientOutlineButton className="w-full font-light">
              Contact us <ArrowRightIcon className="size-5" weight="bold" />
            </GradientOutlineButton>
          </a>
        </div>
        <div class="col-span-2">
          <PricingFaq client:load />
        </div>
      </div>
    </div>
  </div>
</section>
