---
import '@/styles/global.css';
import { Image } from 'astro:assets';
import { Card, CardContent, CardHeader } from '@/components/ui/card';
import { getCollection } from 'astro:content';
import { Navbar } from '@/components/ui/navbar';
import { ScrollToTopButton } from '@/components/scroll-to-top-button';
import { Spacer } from '@/components/ui/spacer';
import Footer from '@/components/ui/footer.astro';
import MainLayout from '@/layouts/main.astro';
import { Button } from '@/components/ui/button';
import config from '@/config';
import { ArrowRightIcon } from '@phosphor-icons/react';
import type { ImageMetadata } from 'astro';
---

<MainLayout title="Open Positions">
  <Navbar client:load />
  <section
    class="mx-auto flex w-10/12 flex-col items-start py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
  >
    <h1
      class="text-text-1 mx-auto text-center text-5xl font-semibold md:mx-0 md:text-start"
    >
      Our open <span class="gradient-text">positions</span>
    </h1>
    <Spacer />
    <div
      class="flex w-full flex-col items-start justify-between gap-6 md:flex-row"
    >
    
    <div id="gem_job_board_embed" style="width: 100%;max-width: 900px;margin: 0 auto;padding: 2rem 1rem;display: block;"/>
    
    <!-- Keep this script inline so it runs in the browser, in place -->
    <script is:inline>
      window.__gemJobBoardUrl = "https://jobs.gem.com/shorebird-dev";
    </script>
    
    <!-- Load Gem's embed script in-place, not hoisted as a module -->
    <script is:inline src="https://jobs.gem.com/gem/embed"></script>
  </section>
  <Footer />
  <ScrollToTopButton client:load />
</MainLayout>
