---
import config from '@/config';
import MainLayout from '@/layouts/main.astro';
import { Card } from '@/components/ui/card';
import { Navbar } from '@/components/ui/navbar';
import Footer from '@/components/ui/footer.astro';
import NewsletterSignupForm from '@/components/newsletter/newsletter-form';
---

<MainLayout title={config.app}>
  <Navbar client:load />
  <div
    class="mx-auto flex w-11/12 items-center justify-center py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
  >
    <Card
      className="flex w-full flex-col items-center justify-center p-6 lg:p-16"
    >
      <h2 class="text-text-1 text-center text-4xl">
        Newsletter Signup
      </h2>
      <p class="text-text-2 text-center">
        We're on a mission to make businesses successful with Flutter, and we're
        thrilled to have you on board.
      </p>
      <p class="text-text-2 text-center">
        By signing up, you'll be the first to know about new tools, updates, and
        insights to help you build and iterate faster.
      </p>
      <div
        class="flex w-full flex-col items-center justify-center gap-4 md:flex-row"
      >
        <NewsletterSignupForm client:load />
      </div>
    </Card>
  </div>
  <Footer />
</MainLayout>
