---
import { Button, GradientOutlineButton } from '@/components/ui/button';
import { Ellipse } from '@/components/ellipse';
import { FlutterLogo } from '@/components/logos/flutter-logo';
import { HeroMotion } from '@/components/home/hero-motion';
import { Spacer } from '@/components/ui/spacer';
import config from '@/config';
---

<section
  id="hero"
  class="mx-auto flex w-11/12 flex-col py-5 xl:w-10/12 2xl:w-[1280px]"
>
  <div class="flex flex-col justify-center gap-4 lg:flex-row">
    <div
      class="flex shrink-0 flex-col items-center justify-center gap-1 lg:items-start"
    >
      <h1 class="text-center text-6xl font-medium">
        Ship <span class="gradient-text">fast.</span>
      </h1>
      <h1 class="text-text-3 text-center text-6xl font-medium line-through">
        Break things.
      </h1>
      <Spacer />
      <div class="flex flex-row">
        <span class="text-text-2">
          Confidently update{' '}
          <span class="text-text-1">
            <FlutterLogo className="inline h-6 w-6" /> Flutter apps
          </span>
          , instantly.
        </span>
      </div>
      <Spacer />
      <div
        class="flex w-full flex-row items-center justify-center gap-4 lg:justify-start"
      >
        <a href={config.consoleUrl}>
          <GradientOutlineButton className="font-light">
            <Ellipse /> Try it now
          </GradientOutlineButton>
        </a>
        <a href={config.docsUrl}>
          <Button variant="outline" className="font-light"> Learn more </Button>
        </a>
      </div>
    </div>
    <div class="flex h-auto w-auto lg:h-[663px] lg:w-[777px]">
      <HeroMotion client:only />
    </div>
  </div>
</section>
