---
import { ArrowsClockwise } from '@phosphor-icons/react';
import { Button } from '@/components/ui/button';
---

<div
  class="mx-auto flex w-11/12 items-center gap-4 py-3 xl:w-10/12 2xl:w-[1280px]"
>
  <a href="/blog/desktop-in-production">
    <Button variant="outline" size="sm" className="font-light">
      <span class="text-accent-secondary-1">
        <ArrowsClockwise />
      </span>
      Product update
    </Button>
  </a>
  <p class="text-text-2 text-sm">Desktop support is stable!</p>
</div>
