---
const blogs = await Astro.glob('../pages/blogs/*.md');
import { Card } from '../components/Card';
---

<section class="relative flex w-screen justify-center bg-shorebirdBg2">
  <div class="absolute -top-16" id="pricing"></div>
  <div
    class="bg-shorebirdBg2 pb-20 pt-12 md:w-4/5 lg:w-[1050px] 2xl:w-[1150px]"
  >
    <div class="mt-16 container mx-auto px-4">
      <div class="mx-auto max-w-2xl text-center">
        <h2
          class="font-heading mb-6 mt-6 text-4xl font-bold text-white lg:text-5xl"
        >
          Blog
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {
          blogs.map((blog) => (
            <Card
              title={blog.frontmatter.title.split('Blog |').pop()}
              description={blog.frontmatter.description}
              date={blog.frontmatter.date}
              link={blog.url}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
