---
import { Card, CardHeader, CardTitle, CardContent } from '@/components/ui/card';
import { ClockCountdown, ChartLine, MoneyWavy } from '@phosphor-icons/react';
import { Spacer } from '@/components/spacer';
---

<section
  class="mx-auto flex w-10/12 flex-col py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
>
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-text-1 text-4xl text-center">Shipping updates is hard</h1>
    <Spacer />
    <h3 class="text-text-2 text-lg text-center">
      Building an app is only half the battle. Delivering and coordinating
      releases across multiple platforms is a huge source of friction and
      complexity.
    </h3>
    <Spacer className="h-10" />
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      <Card>
        <CardHeader
          ><ClockCountdown
            className="text-accent-primary-1 size-10"
          /></CardHeader
        >
        <CardTitle>App updates are slow</CardTitle>
        <CardContent>
          It can take days, or even weeks, to get updates deployed to all users
          and platforms.
        </CardContent>
      </Card>
      <Card>
        <CardHeader
          ><MoneyWavy className="text-accent-primary-1 size-10" /></CardHeader
        >
        <CardTitle>Releasing is expensive</CardTitle>
        <CardContent>
          Automating and coordinating releases takes valuable time away from
          delivering customer value.
        </CardContent>
      </Card>
      <Card>
        <CardHeader
          ><ChartLine className="text-accent-primary-1 size-10" /></CardHeader
        >
        <CardTitle>Deployments are unpredictable</CardTitle>
        <CardContent>
          Traditional release processes make it very difficult to estimate when
          an update will be available to users.
        </CardContent>
      </Card>
    </div>
  </div>
</section>
