---
import { Card, CardHeader, CardTitle, CardContent } from '@/components/ui/card';
import { Image } from 'astro:assets';
import { Spacer } from '@/components/spacer';
import config from '@/config';
import Discord from '@/assets/resources/discord.png';
import Shorebird from '@/assets/resources/shorebird.png';
---

<section
  class="mx-auto flex flex-col w-11/12 items-center py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
>
  <h1 class="text-text-1 text-4xl">Resources</h1>
  <Spacer />
  <h3 class="text-text-2 text-lg text-center">
    Learn more about Shorebird and chat with the community.
  </h3>
  <Spacer className="h-10" />
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <a href={config.docsUrl} class="hover:no-underline">
      <Card
        className="cursor-pointer border-2 border-border-1 hover:border-accent-secondary-1"
      >
        <CardHeader><Image src={Shorebird} alt="View our docs" /></CardHeader>
        <CardTitle className="flex items-center justify-center"
          >Read the docs</CardTitle
        >
        <CardContent className="text-center">
          Learn everything you need to get started with Shorebird in just a few
          minutes from core concepts to detailed tutorials.
        </CardContent>
      </Card>
    </a>
    <a href="https://discord.gg/shorebird" class="hover:no-underline">
      <Card
        className="cursor-pointer border-2 border-border-1 hover:border-accent-secondary-1"
      >
        <CardHeader
          ><Image src={Discord} alt="Chat with the community" /></CardHeader
        >
        <CardTitle className="flex items-center justify-center"
          >Chat with the community</CardTitle
        >
        <CardContent className="text-center">
          Ask questions, share what you're building, and participate in
          discussions with the Shorebird community.
        </CardContent>
      </Card>
    </a>
  </div>
</section>
