---
import config from '@/config';
import { Button, GradientOutlineButton } from '@/components/ui/button';
import {
  Card,
  CardHeader,
  CardTitle,
  CardContent,
  CardFooter,
} from '@/components/ui/card';
import { Ellipse } from '@/components/ellipse';
import { Spacer } from '@/components/spacer';
import {
  ArrowRight,
  ArrowLeft,
} from '@phosphor-icons/react';
---

<section
  class="mx-auto flex flex-col w-10/12 items-start py-12 lg:py-24 xl:w-10/12 2xl:w-[1280px]"
>
  <h1 class="text-text-1 text-4xl">
    Success stories
  </h1>
  <Spacer />
  <div
    class="flex flex-col md:flex-row justify-between items-start w-full gap-6"
  >
    <h3 class="text-text-2 text-lg lg:text-center">
      See how everyone from small teams to global companies are using Shorebird today.
    </h3>
    <a href="#" className="items-start">
      <Button variant="outline" className="w-full font-light">
        <ArrowLeft className="size-5" weight="bold" />
      </Button>
    </a>
    <a href="#" className="items-start">
      <Button variant="outline" className="w-full font-light">
        <ArrowRight className="size-5" weight="bold" />
      </Button>
    </a>
  </div>
  <Spacer className="h-10" />
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
   
  </div>
</section>
