---
import '@fontsource/inter';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '@fontsource/inter/900.css';
import { Navbar } from '../components/Navbar.jsx';
import { Footer } from '../components/Footer.jsx';

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter.description} />
    <meta property="og:description" content={frontmatter.description} />
    <meta property="og:image" content="/open-graph.png" />
    <meta property="og:url" content="https://shorebird.dev" />
    <meta name="twitter:image" content="/open-graph.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="https://shorebird.dev" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Navbar client:load />
    <div class="prose prose-invert mx-auto pt-24 pb-16 px-4 md:px-0">
      <slot />
    </div>
    <Footer client:load />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
